body {
	font-family: roboto;
}

#logo {
	height: 92px;
	width: 272px;
	display: block;
	padding-top: 109px;
	margin: auto;
}

#search_bar {
	display: block;
	margin: auto;
	margin-top: 30px;
	padding-top: 3px;
	padding-bottom: 2px;
	width: 450px;
	height: 2em;
}